<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-07-15T15:18:51Z</date>
	<key>WorkspacePath</key>
	<string>/Users/kenshin/Desktop/expense-tracker-app/expense-tracker-app/expense-tracker-app.xcodeproj</string>
</dict>
</plist>
